.footer{
    background-color: #113946 !important;
    overflow: hidden;
}
.end{
    background-color: #000;
}
.footer_card{
    background-color: #113946;
}
.footer_log{
    width: 55%;
}
.footer_title{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;
}

.icons{
    font-size: 35px;
    margin-right: 20px;

}
.facebook:hover{
    color: rgba(0, 0, 255, 0.808);
}
.instagram:hover{
    color: #C70039;
}
.twitter:hover{
    color: rgb(25, 137, 212);
}
.list{
    background-color: #113946;
}
.list h4{
    font-size: 25px;
    margin-bottom: 20px;
}
.list ul{
    list-style: none;
    padding-left: 2%;
}
.list ul li{
    line-height: 2.5rem;
}
.list ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}
.list ul li:hover{
    padding-left: 5%;
    transition: all 1.5s;
}
